<launch>
    <!-- arguments -->

    <rosparam param="_mysql_data_saver_experiment_description">
        {
        experiment_type: 'test',
        machine_id: 'undefined',
        experiment_legend: 'test table-search experiment without IRGA',
        start_datetime: '2020_07_03 23:00:00',
        end_datetime: '2020_07_03 23:00:00',
        additional_notes: 'add any notes about experiment errors or smth other important',
        experiment_id: '2020_07_03_TESTTYPE_0001',
        experiment_number: '2'
        }
    </rosparam>
    
    <arg name="control_start_mode" default="full_experiment"/>

    <include file="$(find ros_farmer_pc)/launch/control_sba_led_relay_serial_test.launch" >
            <arg name="arduino_baudrate" default="115200"/>
    </include>
    <include file="$(find ros_farmer_pc)/launch/mysql_data_saver_test.launch"/>

    <node pkg="ros_farmer_pc" type="exp_system.py" name="exp_system">

    </node>


</launch>