<launch>
  <group ns="wg">
    <include file="$(find ros_farmer_pc)/launch/data_saver_test.launch">
        <arg name="data_saver_data_folder" value="/home/pi/test_exp_data"/>
    </include>
    <include file="$(find ros_farmer_pc)/launch/control_LSS_led_relay_serial_test.launch" />
    <!--
    <include file="$(find 2dnav_pr2)/config/new_amcl_node.xml" />
    <include file="$(find 2dnav_pr2)/config/base_odom_teleop.xml" />
    <include file="$(find 2dnav_pr2)/config/lasers_and_filters.xml" />
    <include file="$(find 2dnav_pr2)/config/map_server.xml" />
    <include file="$(find 2dnav_pr2)/config/ground_plane.xml" />
    -->

    <!-- The navigation stack and associated parameters -->
    <!--<include file="$(find 2dnav_pr2)/move_base/move_base.xml" />-->
  </group>
</launch>